<article>
	<h2>Create Post</h2>
	<form>
		<div class="mb-3">
			<label for="formGroupExampleInput" class="form-label">Title</label>
			<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Type here">
		</div>
	</form>
</article>