<article>
	<h2>Create Post</h2>
	<form id="new-post-title">
		<div class="mb-3">
			<label for="formGroupExampleInput" class="form-label">Title</label>
			<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Type here">
		</div>
		<div class="form-floating">
			<textarea class="form-control" placeholder="Leave a comment here" id="commenttextarea"></textarea>
			<label for="floatingTextarea">Comments</label>
		</div>
	</form>

</article>