{{#if post.length}}
<article>
	<h2>{{user.id}} Post's</h2>
	<ul>
		{{#each post as |post|}}
		<li>

		</li>
		{{/each}}
	</ul>
		{{else}}
	<article>
		<h3>No Post's</h3>
	</article>
</article>
{{/if}}
<div class="d-grid col-3 mx-auto">
	<button id="post-btn" type="submit" class="btn btn-outline-success"><a href="dashboard/post">Add Post</a></button>
</div>

<script src="/js/createPost.js"></script>